@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
    background-color: #F8F8F8;
    font-family: 'Inter';
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #BCBCBC;
    padding: 1rem 1.5rem;
    margin-bottom: 4rem;
}

.navUl {
    display: flex;
    justify-content: center;
    column-gap: 5rem;
}

#nav__item0 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 0%;
}

#nav__item5 {
    background: #13C2C2;
    border: 1px solid #12837C;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: .8rem;
    border-width: 1px;
    border-color: #12837C;
}

#nav__item5 a {
    color: white;
}

.head__container {
    display: flex;
    justify-content: center;
    padding: 0 3.5rem;
    background-image: url(/recources/images/HeroIntroBgImg.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.hero {
    height: 20rem;
    text-align: center;
}

#hero__right {
    background-color: rgb(236, 234, 234);
    /* clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%); */
    float: left;
    width: 40%;
    animation: splitFadeOut 1s ease-in 0s 1 normal forwards;
}

#hero__left {
    /* flex: 0 1 60%; */
    float: left;
    background-color: #13C2C2;
    width: 60%;
    z-index: 1;
    animation: splitFade 1s ease-in 0s 1 normal forwards;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    font-family: inter;
    padding-right: 4rem;
    
    /* clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%); */
}

#hero__left p {
    animation: textShift 1s ease-in 0s 1 normal forwards;
}

@keyframes splitFade {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
    }
}

@keyframes splitFadeOut {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    to {
        clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes textShift {
    from {
        margin-left: 5rem;
    }

    to {
        margin-left: .5rem;
    }
}
