@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
    background-color: #F8F8F8;
    font-family: 'Inter';
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #BCBCBC;
    padding: 1rem 1.5rem;
    margin-bottom: 4rem;
}

.navUl {
    display: none;
}

#nav__item0 {
    /* flex: 1; */
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 5vw;
}

#nav__item5 {
    background: #13C2C2;
    border: 1px solid #12837C;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: .8rem;
    border-width: 1px;
    border-color: #12837C;
}

#nav__item5 a {
    color: white;
}

.head__container {
    display: flex;
    justify-content: center;
    background-image: url(/recources/images/HeroIntroBgImg.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.hero {
    height: 20rem;
    text-align: center;
}

#hero__right {
    background-color: rgb(236, 234, 234);
    /* clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%); */
    float: left;
    width: 40%;
    animation: splitFadeOut 1s ease-in 0s 1 normal forwards;
}

#hero__left {
    /* flex: 0 1 60%; */
    float: left;
    background-color: #13C2C2;
    width: 60%;
    z-index: 1;
    animation: splitFade 1s ease-in 0s 1 normal forwards;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    font-family: inter;
    padding-right: 4rem;
    
    /* clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%); */
}

#hero__left p {
    animation: textShift 1s ease-in 0s 1 normal forwards;
}

@keyframes splitFade {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
    }
}

@keyframes splitFadeOut {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    to {
        clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes textShift {
    from {
        margin-left: 5rem;
    }

    to {
        margin-left: .5rem;
    }
}

/* ------------keyword section-------------- */
.keywords {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 4.5rem;
}



/* ------------main section-------------- */

main {
    
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .15rem;
    margin: 0 3.5rem;
    padding: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 23px 5px rgba(0, 0, 0, 0.25);
}

.projects__project {
    border-style: solid;
    border-width: .4rem;
    border-radius: 2px;
    width: 47%;
    height: 8rem;
    background-color: white;
}

.projects__project:hover {
    transform: scale(1.2);
}

#project1 {
    border-color: #8E7BD7;
}
#project2 {
    border-color: #94E9B1;
}
#project3 {
    border-color: #A3E4D9;
}
#project4 {
    border-color: #58B3C7;
}



@media (min-width: 650px) {
    .head__container {
        margin: 0 3.5rem;

    }
    .navUl {
        display: flex;
        justify-content: center;
        column-gap: 2rem;
        font-size: 1.5vw;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 3rem;
        background: #ffffff;
        border-width: 1px;
        border-style: solid;
        border-color: #BCBCBC;
        padding: 1rem 1.5rem;
        margin-bottom: 4rem;
    }
    #nav__item0{
        font-size: 4vw;
    }

/* ------------main section-------------- */

    .projects {       
        gap: .15rem;
        margin: 0 3.5rem;
        padding: 1rem;
    }
    
    .projects__project {
        width: 47%;
        height: 10rem;
    }
}

/* -----------about me section------------ */

.aboutMe {
    margin-top: 5rem;
    padding: 5rem 0rem;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
}

.aboutMe h1{
    margin: 0rem;
    padding-top: 2rem;
}
.aboutMe__container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 3rem;
    /* height: 80rem; */
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 10rem;
}

.info {
    height: 10rem;
    width: 20rem;
    background-color: #F8F8F8;
}